body {
	background-color: #131313;
	color: #ffffff;
	font-family: sans-serif;
	margin: 40px;
	padding: 0;
}

body a {
	text-decoration: none;

}

input[type="button"] {
  padding: 10px 20px;
  border: none;
  background-color: #1561f0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="button"]:hover {
  background-color: #0d3ca0;
}


h1 {
color: #1561f0;
		font-size: 76px;
		font-family: sans-serif;
		border-bottom: 4px solid #2b2b2b;
		text-align: center;
}

h2 {
color:#1561f0;
}

header p {
	color: #1561f0;
}

nav ul li {
	list-style-type: none;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul a {
  color: #ffffff;
  
}

header nav ul a:hover {
  color: #1561f0;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

input[type="button"] {
  animation: pulse 2s infinite;
}

progress {
  width: 200px;
  height: 20px;
  appearance: none;
  margin-bottom: 10px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #1561f0;
  border-radius: 10px;
}


main p {
	text-align: justify;
	font-size: 18px;
}

footer {
  background-color: #2b2b2b; 
  color: #ffffff;          
  padding: 10px 20px;        
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

footer ul {
  display: flex;
  justify-content: space-between; 
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

footer ul li {
  margin: 0 10px; 
}

footer ul a {
  color: #ffffff;
  text-decoration: none;
}

footer ul a:hover {
  color: #1561f0;
}

h2.titulo-juegg{
border:0;
text-align:center;
}

.error{
color:#ff0000;
}

.you-win{
color:#00ff00;
}	
