body {
	background-color: #002152;
	color: #ffffff;
	font-family: sans-serif;
	margin: 5;
	padding: 0;
}

body a {
	text-decoration: none;
}

header {
	
}

h1 {

}

header p {
	color: #13BCFA;
}

nav ul li {
	list-style-type: none;
}

header nav ul a {
	color: #ffffff;
}

header nav ul a:hover {
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color: #13BCFA;
}

main p {
	text-align: justify;
}

footer {
	background-color: #00070A; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 32px 16px 32px;
}

footer nav ul {
	padding: 0;
	text-align: left;
}

footer nav ul a {
	color: #ffffff;
}

footer nav ul a:hover {
	color: #13BCFA;
		}

h2.titulo-juegg{
border:0;
text-align:center;
}

.error{
color:#ff0000;
}

.you-win{
color:#00ff00;
}	
